.element__like {
  width: 22px;
  height: 19px;
  margin: 30px 20px 31px 0;
  transition: opacity 0.3s linear;
}
.element__like:hover {
  opacity: 0.5;
  cursor: pointer;
}
.element__like:active {
  fill: #000;
}
