.popup__close {
  position: absolute;
  max-width: 32px;
  min-height: 32px;
  top: -34px;
  right: -34px;
  cursor: pointer;
}
@media (max-width: 650px) {
  .popup__close {
    max-width: 20px;
    min-height: 20px;
    top: -30px;
    right: 0px;
  }
}
